body {
  max-width: 100%;
  background: wheat;
}
#pic1 {
  background: no-repeat;
  background-size: contain;
  max-width: 140px;
  position: relative;
  left: 250px;
}

#pic2 {
  background: no-repeat;
  background-size: contain;
  max-width: 140px;
  position: relative;
  left: 250px;
}

h1,
p {
  text-align: center;
}

footer {
  font-size: 1 s0px;
}

small {
  font-size: 20px;
}

footer {
  text-align: center;
}

footer a {
  margin: 0;
  color: green;
}

.croissant-photo {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
